{%extends 'base.html'%}
{%block body_block%}

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% if messages %}
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
             {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {% endfor %}

            {%endif%}
        </div>
    <div class="row gx•4 gx-lg•5 row-cots-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {%for product in products%}

        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{product.image.url}}" alt="..."/>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.product_name}}</h5>
                        <!-- Product price-->
                       ₹{{product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url 'product_detail' product.id%}">View options</a></div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}